@using MiniArmory.Core.Models.Mount
@model MountFormModel

@{
    ViewData["Title"] = "Add Mount";
}

<h1 class="text-center text-light">Mount creation</h1>

<h4 class="text-center text-light">Mount characteristics</h4>
<hr />
<div>
    <div class="align-content-center">
        <form asp-action="AddMount">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="GroundSpeed" class="control-label"></label>
                <input asp-for="GroundSpeed" class="form-control" />
                <span asp-validation-for="GroundSpeed" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="FlyingSpeed" class="control-label"></label>
                <input asp-for="FlyingSpeed" class="form-control" />
                <span asp-validation-for="FlyingSpeed" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Faction" class="dropdown"></label>
                <select class="form-control" id="Faction" name="Faction"></select>
                <span asp-validation-for="Faction" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-2 offset-md-4 text-light">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group col-4 text-center offset-md-4 text-light">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Mount/GetFactions",
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (factions)
            {
                var s = '<option value="-1">Faction</option>';
                for (var i = 0; i < factions.length; i++)
                {
                    s += '<option value="' + factions[i].Id + '">' + factions[i].Name + '</option>';
                }
                $("#Faction").html(s);
            }
        })
    });
</script>
}