@using MiniArmory.Core.Models.Race
@model List<RaceViewModel>

@{
    ViewData["Title"] = "All Races";

    List<RaceViewModel> alliances = Model
    .Where(x => x.Faction == "Alliance")
    .ToList();

    List<RaceViewModel> hordes = Model
    .Where(x => x.Faction == "Horde")
    .ToList();
}

<div class="d-inline-flex text-center container-fluid m-0 p-0" style="height: 800px">
    <partial name="_AllRacesPartialView" model="alliances" />

    <partial name="_AllRacesPartialView" model="hordes" />
</div>
