@model MiniArmory.Core.Models.SpellFormModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>SpellFormModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooldown" class="control-label"></label>
                <input asp-for="Cooldown" class="form-control" />
                <span asp-validation-for="Cooldown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tooltip" class="control-label"></label>
                <input asp-for="Tooltip" class="form-control" />
                <span asp-validation-for="Tooltip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRacial" /> @Html.DisplayNameFor(model => model.IsRacial)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
