@model MiniArmory.Core.Models.SpellFormModel

@{
    ViewData["Title"] = "Add";
}

<h1>Spell creation</h1>

<h4>Spell characteristics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSpell">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooldown" class="control-label"></label>
                <input asp-for="Cooldown" class="form-control" />
                <span asp-validation-for="Cooldown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tooltip" class="control-label"></label>
                <input asp-for="Tooltip" class="form-control" />
                <span asp-validation-for="Tooltip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="dropdown"></label>
                <select class="form-control" id="Type" name="Type"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group" id="ClassWrapper">
                <label asp-for="Class" class="dropdown"></label>
                <select class="form-control" id="Class" name="Class"></select>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group" id="RaceWrapper">
                <label asp-for="Race" class="dropdown"></label>
                <select class="form-control" id="Race" name="Race"></select>
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $(document).ready(function () {
        $("#RaceWrapper").hide();
        $("#ClassWrapper").hide();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Spell/GetClasses",
            success: function (classes)
            {
                var s = '<option value="-1">Class</option>';
                for (var i = 0; i < classes.length; i++)
                {
                    s += '<option value="' + classes[i].Id + '">' + classes[i].Name + '</option>';
                }
                $("#Class").html(s);
            }
        })

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Spell/GetRaces",
            success: function (races)
            {
                var s = '<option value="-1">Race</option>';
                for (var i = 0; i < races.length; i++)
                {
                    s += '<option value="' + races[i].Id + '">' + races[i].Name + '</option>';
                }
                $("#Race").html(s);
            }
        })

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Spell/SpellTypes",
            success: function (types)
            {
                var s = '<option value="-1">Type</option>';
                for (var i = 0; i < types.length; i++)
                {
                    s += '<option value="' + types[i] + '">' + types[i] + '</option>';
                }
                $("#Type").html(s);
            }
        })
    })

    $("select#Type").on('change',function(){
        if($(this).val()=="Class"){
            $("#RaceWrapper").hide();
            $("#ClassWrapper").show();
        }
        else if($(this).val()=="Race"){
            $("#ClassWrapper").hide();
            $("#RaceWrapper").show();
        }
        else if($(this).val()=="-1"){
            $("#ClassWrapper").hide();
            $("#RaceWrapper").hide();
        }
    });
</script>
}