@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4 pt-3 text-center">Welcome to MiniArmory</h1>

    <div class="col-4 offset-4">
        <h3 class="display-4 text-success pt-5">Forge your destiny by fighting against, among, and with the best and strive to become one of them.</h3>
    </div>
</div>
