@using MiniArmory.Core.Models.Character
@model AchievementCharacterViewModel

@{
    ViewData["Title"] = $"Achievements of {@Model.Character.Name}";
}


<div class="row d-inline-flex ">
    <h2 class="text-center">Achievements of @Model.Character.Name</h2>
    <div class="col-7 d-inline-block p-2" style="width: 47rem">
        @foreach (var achie in Model.Achievements)
        {
            <div class="text-center">
                <p>@achie.Name</p>
                <img src="@achie.Image" class="p-1" style="width: 6rem; height: 6rem;" />
            </div>
        }
    </div>
</div>