@using MiniArmory.Core.Models.Character
@model CharacterFormModel

@{
    ViewData["Title"] = "Add Character";
}

<h1 class="text-light text-center">Character creation</h1>

<h4 class="text-light text-center">Character characteristics</h4>
<hr />
<div>
    <div class="align-content-center">
        <form asp-action="AddCharacter">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Realm" class="dropdown"></label>
                <select class="form-control" id="Realm" name="Realm"></select>
                <span asp-validation-for="Realm" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Faction" class="dropdown"></label>
                <select class="form-control" id="Faction" name="Faction"></select>
                <span asp-validation-for="Faction" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Race" class="dropdown"></label>
                <select class="form-control" id="Race" name="Race"></select>
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-1 offset-md-4 text-light">
                <label asp-for="Class" class="dropdown"></label>
                <select class="form-control" id="Class" name="Class"></select>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group col-4 mb-2 offset-md-4 text-light">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group col-4 offset-md-4 text-center text-light">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Character/GetRealms",
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (realms)
            {
                var s = '<option value="-1">Realm</option>';
                for (var i = 0; i < realms.length; i++)
                {
                    s += '<option value="' + realms[i].Id + '">' + realms[i].Name + '</option>';
                }
                $("#Realm").html(s);
            }
        })

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Mount/GetFactions",
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (factions)
            {
                var s = '<option value="-1">Faction</option>';
                for (var i = 0; i < factions.length; i++)
                {
                    s += '<option value="' + factions[i].Id + '">' + factions[i].Name + '</option>';
                }
                $("#Faction").html(s);
            }
        })

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Spell/GetClasses",
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (classes)
            {
                var s = '<option value="-1">Class</option>';
                for (var i = 0; i < classes.length; i++)
                {
                    s += '<option value="' + classes[i].Id + '">' + classes[i].Name + '</option>';
                }
                $("#Class").html(s);
            }
        })
    });

    $(document).on('change', 'select#Faction', function(){
        var id =  null
        if($(this).val()=="1"){
            id = 2;
        }
        else if($(this).val()=="2"){
            id = 1;
        }
        else{
            id = null;
        }
        
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Spell/GetRaces",
            data: { factionId: id },
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (races)
            {
                var s = '<option value="-1">Race</option>';
                for (var i = 0; i < races.length; i++)
                {
                    s += '<option value="' + races[i].Id + '">' + races[i].Name + '</option>';
                }
                $("#Race").html(s);
            }
        });
    });
</script>
}
