@using MiniArmory.Core.Models.Character
@model CharacterFormModel

@{
    ViewData["Title"] = $"Change race of {Model.Name}";
}

<h1 class="text-light text-center">Change race</h1>
<hr />
<div class="align-items-center">
    <form asp-action="ChangeRace">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group text-center col-4 mt-3 offset-md-4 text-light">
            <label asp-for="Race" class="dropdown"></label>
            <select class="form-control" id="Race" name="Race"></select>
            <span asp-validation-for="Race" class="text-danger"></span>
        </div>
        <div class="form-group col-4 offset-md-4 text-center text-light mt-2">
            <input type="submit" value="Change" class="btn btn-success" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Spell/GetRaces",
            headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
            success: function (races)
            {
                var s = '<option value="-1">Race</option>';
                for (var i = 0; i < races.length; i++)
                {
                    s += '<option value="' + races[i].Id + '">' + races[i].Name + '</option>';
                }
                $("#Race").html(s);
            }
        })
    });
</script>
}
