@using MiniArmory.Core.Models.Character
@model CharacterFormModel

@{
    ViewData["Title"] = $"Change Name";
}

<h1 class="text-light text-center">Change name of @Model.Name</h1>
<hr />
<div class="align-items-center">
    <form asp-action="ChangeName">
        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
        <div class="form-group text-center col-4 mt-3 offset-md-4 text-light">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-group col-4 offset-md-4 text-center text-light mt-2">
                <input type="submit" value="Change" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
