@using MiniArmory.Core.Models
@model CharacterViewModel

@{
    ViewData["Title"] = "MiniArmory Characters";
}

<div class="row d-inline-flex">
    <div class="form-group">
        <a asp-controller="Character" asp-action="Details" asp-route-id="@Model.Id">
            <div class="card d-inline-flex bg-primary text-white" style="width: 25rem; height: 7rem; border: 2px solid #808080">
                <div class="row">
                    <div class="col-md-7">
                        <img src="@Model.ClassImage" alt="Class image" style="width: 5rem; border: 1px solid #808080">
                    </div>

                    <div class="col-md-5">
                        <p>@Model.Name</p>
                    </div>

                    <p class="text-black">@Model.RealmName</p>
                </div>
            </div>
        </a>
    </div>
</div>