@using MiniArmory.Core.Models.Class
@model ClassViewModel

@{
    ViewData["Title"] = "Race Details";
}

<div class="d-inline-block col-12">
    <h2 class="text-center text-primary">@Model.Name</h2>
    <div style="
    background-image: url('https://assets.worldofwarcraft.com/static/components/Pane/Pane-leather-blue.9de312ba15472b63bc7e9d3f62b64c65.jpg');
    height: 100%;
    width: 100%;">
        <div class="text-center">
            <img src="" alt="Race model" style="width: 15rem; height: 19rem;" />
            <p class="text-light col-12" style="height: 10rem; width: 40rem;">@Model.Description</p>
            <p class="text-light col-12" style="height: 10rem; width: 40rem;">@Model.Name</p>
            <img src="@Model.ClassImage" />
        </div>
    </div>
</div>