@using MiniArmory.Core.Models.Spell
@model SpellListViewModel

@{
    ViewData["Title"] = "All Spells";
}

<div class="form-group offset-1">
    @foreach (var spell in Model.Spells)
    {
        <div class="card d-inline-flex bg-dark text-white m-2" style="width: 18rem; height: 18rem; border: 4px solid #808080">
            <div class="row">
                <div class="col-md-7">
                    <img src="@spell.Tooltip" alt="Spell tooltip" style="width: 5rem; border: 1px solid #808080">
                </div>

                <div class="col-md-5 ps-3">
                    <p>@spell.Name</p>
                </div>
            </div>

            <div class="card-body">
                <p class="card-text" style="text-align: justify;">@spell.Description</p>
            </div>
        </div>
    }
</div>
