<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiniArmory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniArmory.Web.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #212121;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color: #212121;">
            <div class="container-fluid">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">MiniArmory</a>
                }
                else
                {
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Character" asp-action="CharacterList">MiniArmory</a>
                }
                @if (this.User.IsInRole("Owner") ||
                this.User.IsInRole("Admin"))
                {
                    <a class="navbar-brand text-white" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Area</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="CharacterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Characters
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="AddCharacter">Add Character</a></li>
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="Leaderboard">PvP Leaderboard</a></li>
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="PlayArena">Earn Rating</a></li>
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="Ranking">Achievements Ranking</a></li>
                                <li><a class="dropdown-item" asp-controller="Character" asp-action="CharacterList">Character List</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="AchievementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Achievement
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (this.User.IsInRole("Owner") ||
                                this.User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Achievement" asp-action="AddAchievement">Add Achievement</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Achievement" asp-action="AllAchievements">All Achievements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="ClassDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Class
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (this.User.IsInRole("Owner") ||
                                this.User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Class" asp-action="AddClass">Add Class</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Class" asp-action="AllClasses">All Classes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="SpellDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Spell
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (this.User.IsInRole("Owner") ||
                                this.User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Spell" asp-action="AddSpell">Add Spell</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Spell" asp-action="AllSpells">All Spells</a></li>
                            </ul>
                        </li>
                        @if (this.User.IsInRole("Owner"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="FactionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Faction
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-controller="Faction" asp-action="AddFaction">Add Faction</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="RaceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Race
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (this.User.IsInRole("Owner") ||
                                this.User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Race" asp-action="AddRace">Add Race</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Race" asp-action="AllRaces">All Races</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="MountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mount
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (this.User.IsInRole("Owner") ||
                                this.User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Mount" asp-action="AddMount">Add Mount</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Mount" asp-action="AllMounts">All Mounts</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="RealmDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Realm
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @if (this.User.IsInRole("Owner"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Realm" asp-action="AddRealm">Add Realm</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Realm" asp-action="AllRealms">All Realms</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form asp-controller="Character" asp-action="Search" class="form d-inline-flex">
                        <input class="form-control mr-sm-2" type="search" name="chars" placeholder="Find a character.." aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0 ms-2" type="submit">Search</button>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid m-0 p-0">
        @if (TempData.ContainsKey("Message"))
        {
            <div class="alert alert-success pt-2 text-center col-4 offset-4" role="alert">
                @TempData["Message"]
            </div>
        }
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white">
        <div class="container">
            &copy; 2022 - MiniArmory.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
