@using MiniArmory.Core.Models.Achievement
@model List<AchievementViewModel>

@{
    ViewData["Title"] = "All Achievements";
}

<div class="form-group offset-1">
    @foreach (var achie in Model)
    {
        <div class="card d-inline-flex bg-success text-white m-2 col-2" style="border: 3px solid #808080;">
            <div class="col-7 d-inline-flex">
                <img src="@achie.Image" alt="Achievement image" style="height: 5em;">
                <div class="col-12 offset-2">
                    <p class="text-center col-12">@achie.Name</p>
                    <p class="text-center col-12">Category: @achie.Category</p>
                    <p class="text-center col-12" style="text-align: justify;">@achie.Description</p>
                </div>
            </div>
        </div>
    }
</div>
