@using MiniArmory.Core.Models
@model List<AchievementViewModel>

@{
    ViewData["Title"] = "All Achievements";
}

<div class="row">
    <div class="form-group">
        @foreach (var achie in Model)
        {
            <div class="card d-inline-flex bg-warning text-dark border-3 border-secondary" style="width: 26rem; height: 11rem;">
                <div class="row">
                    <div class="d-inline-block">
                        <div class="text-center">
                            <p style="height: 1rem;">@achie.Name</p>
                            <p style="height: 1rem;">@achie.Points</p>
                            <p style="height: 1rem;">Category: @achie.Category</p>
                            <p style="height: 1rem;">@achie.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
